{"openapi":"3.1.0","info":{"title":"FastAPI","version":"0.1.0"},"servers":[{"url":"https://api.toingg.com/api/v3"}],"paths":{"/parse-file":{"post":{"tags":["Parsing"],"summary":"Parse File","operationId":"parse_file_parse_file_post","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_parse_file_parse_file_post"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_subpages":{"get":{"tags":["Scrapping"],"summary":"Get Subpages","operationId":"get_subpages_get_subpages_get","parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string","title":"Url"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"title":"Response Get Subpages Get Subpages Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/scrape_all":{"post":{"tags":["Scrapping"],"summary":"Scrape All Subpages","operationId":"scrape_all_subpages_scrape_all_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebsiteInput"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":{"type":"object"},"type":"object","title":"Response Scrape All Subpages Scrape All Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/scrape_selected_pages":{"post":{"tags":["Scrapping"],"summary":"Scrape Selected Pages","operationId":"scrape_selected_pages_scrape_selected_pages_post","parameters":[{"name":"urls","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"},"title":"Urls"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/token_cost":{"get":{"tags":["Scrapping"],"summary":"Get Token Usage","operationId":"get_token_usage_token_cost_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/scrape_single":{"post":{"tags":["Scrapping"],"summary":"Scrape Single Page","operationId":"scrape_single_page_scrape_single_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebsiteInput"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","title":"Response Scrape Single Page Scrape Single Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/credit_balance":{"post":{"tags":["Admin handling"],"summary":"Credit Balance","operationId":"credit_balance_credit_balance_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/total_call_time":{"get":{"tags":["Admin handling"],"summary":"Total Call Time","operationId":"total_call_time_total_call_time_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/ping":{"post":{"tags":["User handling"],"summary":"Ping","operationId":"ping_ping_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/sign_up":{"post":{"tags":["User handling"],"summary":"Sign Up","operationId":"sign_up_sign_up_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_sign_up_sign_up_post"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/login":{"post":{"tags":["User handling"],"summary":"Login","operationId":"login_login_post","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Body_login_login_post"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/add_webhook":{"post":{"tags":["Webhook handling"],"summary":"Add Webhook","operationId":"add_webhook_add_webhook_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Endpoint"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/update_webhook":{"post":{"tags":["Webhook handling"],"summary":"Update Webhook","operationId":"update_webhook_update_webhook_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"webhookId","in":"query","required":true,"schema":{"type":"string","title":"Webhookid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Endpoint"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/delete_webhook":{"post":{"tags":["Webhook handling"],"summary":"Delete Webhook","operationId":"delete_webhook_delete_webhook_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"webhookId","in":"query","required":true,"schema":{"type":"string","title":"Webhookid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/add_webhook_campaingn":{"post":{"tags":["Webhook handling"],"summary":"Add Webhook Campaingn","operationId":"add_webhook_campaingn_add_webhook_campaingn_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"webhookId","in":"query","required":true,"schema":{"type":"string","title":"Webhookid"}},{"name":"campaignId","in":"query","required":true,"schema":{"type":"string","title":"Campaignid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/remove_webhook_campaingn":{"post":{"tags":["Webhook handling"],"summary":"Remove Webhook Campaingn","operationId":"remove_webhook_campaingn_remove_webhook_campaingn_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"webhookId","in":"query","required":true,"schema":{"type":"string","title":"Webhookid"}},{"name":"campaignId","in":"query","required":true,"schema":{"type":"string","title":"Campaignid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_webhook":{"get":{"tags":["Webhook handling"],"summary":"Get Webhook","operationId":"get_webhook_get_webhook_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"webhookId","in":"query","required":true,"schema":{"type":"string","title":"Webhookid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_user_webhooks":{"get":{"tags":["Webhook handling"],"summary":"Get User Webhooks","operationId":"get_user_webhooks_get_user_webhooks_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/get_campaingn_webhooks":{"get":{"tags":["Webhook handling"],"summary":"Get Campaingn Webhooks","operationId":"get_campaingn_webhooks_get_campaingn_webhooks_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"campaignId","in":"query","required":true,"schema":{"type":"string","title":"Campaignid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/google_login":{"get":{"tags":["User handling"],"summary":"Google Login","operationId":"google_login_google_login_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/google_auth":{"get":{"tags":["User handling"],"summary":"Google Auth","operationId":"google_auth_google_auth_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/validate_api_key":{"post":{"tags":["User handling"],"summary":"Validate Api Key","operationId":"validate_api_key_validate_api_key_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_validate_api_key_validate_api_key_post"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/create_api_key":{"post":{"tags":["User handling"],"summary":"Create Api Key","operationId":"create_api_key_create_api_key_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_create_api_key_create_api_key_post"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/get_api_keys":{"get":{"tags":["User handling"],"summary":"Get Api Keys","operationId":"get_api_keys_get_api_keys_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/get_profile":{"get":{"tags":["User handling"],"summary":"Get Profile","operationId":"get_profile_get_profile_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/update_profile":{"post":{"tags":["User handling"],"summary":"Update Profile","operationId":"update_profile_update_profile_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/usersModel"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/update_feedback_form":{"post":{"tags":["User handling"],"summary":"Update Feedback Form","operationId":"update_feedback_form_update_feedback_form_post","requestBody":{"content":{"application/json":{"schema":{"type":"object","title":"Feedbackform"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/get_feedback_form":{"get":{"tags":["User handling"],"summary":"Get Profile","operationId":"get_profile_get_feedback_form_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/is_test":{"post":{"tags":["User handling"],"summary":"Is Test","operationId":"is_test_is_test_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/add_user_onbording_info":{"post":{"tags":["User handling"],"summary":"Add User Onbording Info","operationId":"add_user_onbording_info_add_user_onbording_info_post","requestBody":{"content":{"application/json":{"schema":{"type":"object","title":"Onbordinginfo"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/get_user_onbording_info":{"get":{"tags":["User handling"],"summary":"Get User Onbording Info","operationId":"get_user_onbording_info_get_user_onbording_info_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/add_cal_com_info":{"post":{"tags":["Meeting handling"],"summary":"Add Cal Com Info","operationId":"add_cal_com_info_add_cal_com_info_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalInfo"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/get_cal_com_info":{"get":{"tags":["Meeting handling"],"summary":"Get Cal Com Info","operationId":"get_cal_com_info_get_cal_com_info_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/get_cal_com_events":{"get":{"tags":["Meeting handling"],"summary":"Get Cal Com Events","operationId":"get_cal_com_events_get_cal_com_events_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"apiKey","in":"query","required":true,"schema":{"type":"string","title":"Apikey"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/add_monday_info":{"post":{"tags":["Monday Integration"],"summary":"Add Monday Info","operationId":"add_monday_info_add_monday_info_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"apiKey","in":"query","required":true,"schema":{"type":"string","title":"Apikey"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_monday_info":{"get":{"tags":["Monday Integration"],"summary":"Get Monday Info","operationId":"get_monday_info_get_monday_info_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/remove_monday_info":{"delete":{"tags":["Monday Integration"],"summary":"Remove Monday Info","operationId":"remove_monday_info_remove_monday_info_delete","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/get_call_monday/{apiKey}/{campId}/{batchName}":{"post":{"tags":["Monday Integration"],"summary":"Get Call","operationId":"get_call_get_call_monday__apiKey___campId___batchName__post","parameters":[{"name":"apiKey","in":"path","required":true,"schema":{"type":"string","title":"Apikey"}},{"name":"campId","in":"path","required":true,"schema":{"type":"string","title":"Campid"}},{"name":"batchName","in":"path","required":true,"schema":{"type":"string","title":"Batchname"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/add_instagram_info":{"post":{"tags":["Instagram Integration"],"summary":"Add Instagram Info","operationId":"add_instagram_info_add_instagram_info_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"apiKey","in":"query","required":true,"schema":{"type":"string","title":"Apikey"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_instagram_info":{"get":{"tags":["Instagram Integration"],"summary":"Get Instagram Info","operationId":"get_instagram_info_get_instagram_info_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/remove_instagram_info":{"delete":{"tags":["Instagram Integration"],"summary":"Remove Instagram Info","operationId":"remove_instagram_info_remove_instagram_info_delete","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/add_whatsapp_info":{"post":{"tags":["Whatsapp Integration"],"summary":"Add Whatsapp Info","operationId":"add_whatsapp_info_add_whatsapp_info_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/whatsappModel"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/get_whatsapp_info":{"get":{"tags":["Whatsapp Integration"],"summary":"Get Whatsapp Info","operationId":"get_whatsapp_info_get_whatsapp_info_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/remove_whatsapp_info":{"delete":{"tags":["Whatsapp Integration"],"summary":"Remove Whatsapp Info","operationId":"remove_whatsapp_info_remove_whatsapp_info_delete","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/instagram_webhook/{apiKey}/{campId}":{"post":{"tags":["Instagram Integration"],"summary":"Instagram Webhook","operationId":"instagram_webhook_instagram_webhook__apiKey___campId__post","parameters":[{"name":"apiKey","in":"path","required":true,"schema":{"type":"string","title":"Apikey"}},{"name":"campId","in":"path","required":true,"schema":{"type":"string","title":"Campid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Instagram Integration"],"summary":"Instagram Token Verify","operationId":"instagram_token_verify_instagram_webhook__apiKey___campId__get","parameters":[{"name":"apiKey","in":"path","required":true,"schema":{"type":"string","title":"Apikey"}},{"name":"campId","in":"path","required":true,"schema":{"type":"string","title":"Campid"}},{"name":"hub.challenge","in":"query","required":true,"schema":{"type":"string","title":"Hub.Challenge"}},{"name":"hub.verify_token","in":"query","required":true,"schema":{"type":"string","title":"Hub.Verify Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/whatsapp_webhook/{apiKey}/{campId}":{"post":{"tags":["Whatsapp Integration"],"summary":"Whatsapp Webhook","operationId":"whatsapp_webhook_whatsapp_webhook__apiKey___campId__post","parameters":[{"name":"apiKey","in":"path","required":true,"schema":{"type":"string","title":"Apikey"}},{"name":"campId","in":"path","required":true,"schema":{"type":"string","title":"Campid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Whatsapp Integration"],"summary":"Whatsapp Token Verify","operationId":"whatsapp_token_verify_whatsapp_webhook__apiKey___campId__get","parameters":[{"name":"apiKey","in":"path","required":true,"schema":{"type":"string","title":"Apikey"}},{"name":"campId","in":"path","required":true,"schema":{"type":"string","title":"Campid"}},{"name":"hub.challenge","in":"query","required":true,"schema":{"type":"string","title":"Hub.Challenge"}},{"name":"hub.verify_token","in":"query","required":true,"schema":{"type":"string","title":"Hub.Verify Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/add_erpnext_info":{"post":{"tags":["Erpnext Integration"],"summary":"Add Erpnext Info","operationId":"add_erpnext_info_add_erpnext_info_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/erpnextModel"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/get_erpnext_info":{"get":{"tags":["Erpnext Integration"],"summary":"Get Erpnext Info","operationId":"get_erpnext_info_get_erpnext_info_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/remove_erpnext_info":{"delete":{"tags":["Erpnext Integration"],"summary":"Remove Erpnext Info","operationId":"remove_erpnext_info_remove_erpnext_info_delete","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/user_cost_report":{"get":{"tags":["User handling"],"summary":"User Cost Report","operationId":"user_cost_report_user_cost_report_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/change_password":{"post":{"tags":["User handling"],"summary":"Change Password","operationId":"change_password_change_password_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_change_password_change_password_post"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/delete_api_key":{"delete":{"tags":["User handling"],"summary":"Delete Api Key","operationId":"delete_api_key_delete_api_key_delete","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_delete_api_key_delete_api_key_delete"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/delete_user":{"delete":{"tags":["User handling"],"summary":"Delete User","operationId":"delete_user_delete_user_delete","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/get_supported_languages":{"get":{"tags":["Campaign handling"],"summary":"Get Supported Languages","operationId":"get_supported_languages_get_supported_languages_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/get_supported_voices":{"get":{"tags":["Campaign handling"],"summary":"Get Supported Voices","operationId":"get_supported_voices_get_supported_voices_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/create_campaign":{"post":{"tags":["Campaign handling"],"summary":"Create Campaign","operationId":"create_campaign_create_campaign_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/campaignModel"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/update_campaign":{"post":{"tags":["Campaign handling"],"summary":"Update Campaign","operationId":"update_campaign_update_campaign_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_update_campaign_update_campaign_post"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/get_campaigns":{"get":{"tags":["Campaign handling"],"summary":"Get Campaigns","operationId":"get_campaigns_get_campaigns_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"skip","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Skip"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":10,"title":"Limit"}},{"name":"sort","in":"query","required":false,"schema":{"type":"integer","default":-1,"title":"Sort"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_campaigns_title_and_id":{"get":{"tags":["Campaign handling"],"summary":"Get Campaigns Title And Id","operationId":"get_campaigns_title_and_id_get_campaigns_title_and_id_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/get_campaign_silence_timer_and_words_to_interrupt":{"get":{"tags":["Campaign handling"],"summary":"Get Campaign Silence Timer And Words To Interrupt","operationId":"get_campaign_silence_timer_and_words_to_interrupt_get_campaign_silence_timer_and_words_to_interrupt_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"campId","in":"query","required":true,"schema":{"type":"string","title":"Campid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/set_campaign_silence_timer_and_words_to_interrupt":{"post":{"tags":["Campaign handling"],"summary":"Set Campaign Silence Timer And Words To Interrupt","operationId":"set_campaign_silence_timer_and_words_to_interrupt_set_campaign_silence_timer_and_words_to_interrupt_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_set_campaign_silence_timer_and_words_to_interrupt_set_campaign_silence_timer_and_words_to_interrupt_post"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/get_campaign_detect_inactivity":{"get":{"tags":["Campaign handling"],"summary":"Get Campaign Detect Inactivity","operationId":"get_campaign_detect_inactivity_get_campaign_detect_inactivity_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"campId","in":"query","required":true,"schema":{"type":"string","title":"Campid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/set_campaign_detect_inactivity":{"post":{"tags":["Campaign handling"],"summary":"Set Campaign Detect Inactivity","operationId":"set_campaign_detect_inactivity_set_campaign_detect_inactivity_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_set_campaign_detect_inactivity_set_campaign_detect_inactivity_post"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/get_campaign_from_id":{"get":{"tags":["Campaign handling"],"summary":"Get Campaign From Id","operationId":"get_campaign_from_id_get_campaign_from_id_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"campId","in":"query","required":true,"schema":{"type":"string","title":"Campid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/campaign_cost_report":{"get":{"tags":["Campaign handling"],"summary":"Campaign Cost Report","operationId":"campaign_cost_report_campaign_cost_report_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"campId","in":"query","required":true,"schema":{"type":"string","title":"Campid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/delete_campaign_from_id":{"delete":{"tags":["Campaign handling"],"summary":"Delete Campaign From Id","operationId":"delete_campaign_from_id_delete_campaign_from_id_delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"campId","in":"query","required":true,"schema":{"type":"string","title":"Campid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/text_pipeline_configuration":{"get":{"tags":["Campaign handling"],"summary":"Get Text Pipeline Configuration","operationId":"get_text_pipeline_configuration_text_pipeline_configuration_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"campId","in":"query","required":true,"schema":{"type":"string","title":"Campid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Campaign handling"],"summary":"Post Text Pipeline Configuration","operationId":"post_text_pipeline_configuration_text_pipeline_configuration_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"campId","in":"query","required":true,"schema":{"type":"string","title":"Campid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/textPipelineConfigRQ"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Campaign handling"],"summary":"Delete Text Pipeline Configuration","operationId":"delete_text_pipeline_configuration_text_pipeline_configuration_delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"campId","in":"query","required":true,"schema":{"type":"string","title":"Campid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/test_text_post_webhook":{"post":{"tags":["Campaign handling"],"summary":"Test Text Post Webhook","operationId":"test_text_post_webhook_test_text_post_webhook_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/get_balance":{"get":{"tags":["Payment handling"],"summary":"Get Balance","operationId":"get_balance_get_balance_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/convert_usd_to_inr":{"get":{"tags":["Payment handling"],"summary":"Convert Usd To Inr","operationId":"convert_usd_to_inr_convert_usd_to_inr_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"price","in":"query","required":true,"schema":{"type":"number","title":"Price"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/payment_link":{"post":{"tags":["Payment handling"],"summary":"Payment Link","operationId":"payment_link_payment_link_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_payment_link_payment_link_post"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/make_call":{"post":{"tags":["Call handling"],"summary":"Make Call","operationId":"make_call_make_call_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/makeCallData"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/create_demo_call":{"post":{"tags":["Call handling"],"summary":"Create Demo Call","operationId":"create_demo_call_create_demo_call_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/makeCallData"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/make_call_batch":{"post":{"tags":["Call handling"],"summary":"Make Call Batch","operationId":"make_call_batch_make_call_batch_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/makeBatchCallData"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/make_call_external":{"post":{"tags":["Call handling"],"summary":"Make Call External","operationId":"make_call_external_make_call_external_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/makeCallExternalData"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/get_call/{apiKey}/{campId}":{"post":{"tags":["Call handling"],"summary":"Get Call","operationId":"get_call_get_call__apiKey___campId__post","parameters":[{"name":"apiKey","in":"path","required":true,"schema":{"type":"string","title":"Apikey"}},{"name":"campId","in":"path","required":true,"schema":{"type":"string","title":"Campid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_call_plivio/{apiKey}/{campId}":{"post":{"tags":["Call handling"],"summary":"Get Call Plivio","operationId":"get_call_plivio_get_call_plivio__apiKey___campId__post","parameters":[{"name":"apiKey","in":"path","required":true,"schema":{"type":"string","title":"Apikey"}},{"name":"campId","in":"path","required":true,"schema":{"type":"string","title":"Campid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/call_status":{"get":{"tags":["Call handling"],"summary":"Call Status","operationId":"call_status_call_status_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"callId","in":"query","required":true,"schema":{"type":"string","title":"Callid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_transcription":{"get":{"tags":["Call handling"],"summary":"Get Transcription","operationId":"get_transcription_get_transcription_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"callId","in":"query","required":true,"schema":{"type":"string","title":"Callid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_post_call_analysis":{"get":{"tags":["Call handling"],"summary":"Get Post Call Analysis","operationId":"get_post_call_analysis_get_post_call_analysis_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"callId","in":"query","required":true,"schema":{"type":"string","title":"Callid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_plivo_message/{apiKey}/{campId}":{"post":{"tags":["Message handling"],"summary":"Get Plivo Message","operationId":"get_plivo_message_get_plivo_message__apiKey___campId__post","parameters":[{"name":"apiKey","in":"path","required":true,"schema":{"type":"string","title":"Apikey"}},{"name":"campId","in":"path","required":true,"schema":{"type":"string","title":"Campid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_twilio_message/{apiKey}/{campId}":{"post":{"tags":["Message handling"],"summary":"Get Twilio Message","operationId":"get_twilio_message_get_twilio_message__apiKey___campId__post","parameters":[{"name":"apiKey","in":"path","required":true,"schema":{"type":"string","title":"Apikey"}},{"name":"campId","in":"path","required":true,"schema":{"type":"string","title":"Campid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/test_message_pipeline/{apiKey}/{campId}":{"post":{"tags":["Message handling"],"summary":"Test Message Pipeline","operationId":"test_message_pipeline_test_message_pipeline__apiKey___campId__post","parameters":[{"name":"apiKey","in":"path","required":true,"schema":{"type":"string","title":"Apikey"}},{"name":"campId","in":"path","required":true,"schema":{"type":"string","title":"Campid"}},{"name":"phoneNumber","in":"query","required":true,"schema":{"type":"string","title":"Phonenumber"}},{"name":"text","in":"query","required":true,"schema":{"type":"string","title":"Text"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_transcription_text":{"get":{"tags":["Message handling"],"summary":"Get Transcription Text","operationId":"get_transcription_text_get_transcription_text_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"campaignId","in":"query","required":true,"schema":{"type":"string","title":"Campaignid"}},{"name":"phoneNumber","in":"query","required":true,"schema":{"type":"string","title":"Phonenumber"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_call_logs_for_user":{"get":{"tags":["Call handling"],"summary":"Get Call Logs For User","operationId":"get_call_logs_for_user_get_call_logs_for_user_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"skip","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Skip"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":10,"title":"Limit"}},{"name":"sort","in":"query","required":false,"schema":{"type":"integer","default":-1,"title":"Sort"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_call_logs_for_campaign":{"get":{"tags":["Call handling"],"summary":"Get Call Logs For Campaign","operationId":"get_call_logs_for_campaign_get_call_logs_for_campaign_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"campId","in":"query","required":true,"schema":{"title":"Campid"}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Skip"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":10,"title":"Limit"}},{"name":"sort","in":"query","required":false,"schema":{"type":"integer","default":-1,"title":"Sort"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_call_logs_for_batch":{"get":{"tags":["Call handling"],"summary":"Get Call Logs For Batch","operationId":"get_call_logs_for_batch_get_call_logs_for_batch_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"batchId","in":"query","required":true,"schema":{"title":"Batchid"}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Skip"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":10,"title":"Limit"}},{"name":"sort","in":"query","required":false,"schema":{"type":"integer","default":-1,"title":"Sort"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_batchs":{"get":{"tags":["Call handling"],"summary":"Get Batchs","operationId":"get_batchs_get_batchs_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"skip","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Skip"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":10,"title":"Limit"}},{"name":"sort","in":"query","required":false,"schema":{"type":"integer","default":-1,"title":"Sort"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_batchs_for_campaign":{"get":{"tags":["Call handling"],"summary":"Get Batchs For Campaign","operationId":"get_batchs_for_campaign_get_batchs_for_campaign_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"campId","in":"query","required":true,"schema":{"type":"string","title":"Campid"}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Skip"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":10,"title":"Limit"}},{"name":"sort","in":"query","required":false,"schema":{"type":"integer","default":-1,"title":"Sort"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/cancel_batch":{"put":{"tags":["Call handling"],"summary":"Cancel Batch","operationId":"cancel_batch_cancel_batch_put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"batchId","in":"query","required":true,"schema":{"type":"string","title":"Batchid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_file/{fileName}":{"get":{"tags":["Recording handling"],"summary":"Get File","operationId":"get_file_get_file__fileName__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"fileName","in":"path","required":true,"schema":{"title":"Filename"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_twilio":{"get":{"tags":["Twilio handling"],"summary":"Get Twilio","operationId":"get_twilio_get_twilio_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/add_twilio":{"post":{"tags":["Twilio handling"],"summary":"Add Twilio","operationId":"add_twilio_add_twilio_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/twilioAccountModel"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/update_twilio":{"post":{"tags":["Twilio handling"],"summary":"Update Twilio","operationId":"update_twilio_update_twilio_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/twilioAccountModel"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/delete_twilio":{"delete":{"tags":["Twilio handling"],"summary":"Delete Twilio","operationId":"delete_twilio_delete_twilio_delete","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/live_call_status":{"get":{"tags":["Twilio handling"],"summary":"Live Call Status","operationId":"live_call_status_live_call_status_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"callSid","in":"query","required":true,"schema":{"type":"string","title":"Callsid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"Body_change_password_change_password_post":{"properties":{"new_password":{"type":"string","title":"New Password"}},"type":"object","required":["new_password"],"title":"Body_change_password_change_password_post"},"Body_create_api_key_create_api_key_post":{"properties":{"name":{"type":"string","title":"Name"}},"type":"object","required":["name"],"title":"Body_create_api_key_create_api_key_post"},"Body_delete_api_key_delete_api_key_delete":{"properties":{"name":{"type":"string","title":"Name"}},"type":"object","required":["name"],"title":"Body_delete_api_key_delete_api_key_delete"},"Body_login_login_post":{"properties":{"grant_type":{"anyOf":[{"type":"string","pattern":"password"},{"type":"null"}],"title":"Grant Type"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"scope":{"type":"string","title":"Scope","default":""},"client_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Id"},"client_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Secret"}},"type":"object","required":["username","password"],"title":"Body_login_login_post"},"Body_parse_file_parse_file_post":{"properties":{"file":{"type":"string","format":"binary","title":"File"}},"type":"object","required":["file"],"title":"Body_parse_file_parse_file_post"},"Body_payment_link_payment_link_post":{"properties":{"amount":{"type":"number","title":"Amount"}},"type":"object","required":["amount"],"title":"Body_payment_link_payment_link_post"},"Body_set_campaign_detect_inactivity_set_campaign_detect_inactivity_post":{"properties":{"campId":{"type":"string","title":"Campid"},"detectInactivity":{"type":"boolean","title":"Detectinactivity"}},"type":"object","required":["campId","detectInactivity"],"title":"Body_set_campaign_detect_inactivity_set_campaign_detect_inactivity_post"},"Body_set_campaign_silence_timer_and_words_to_interrupt_set_campaign_silence_timer_and_words_to_interrupt_post":{"properties":{"campId":{"type":"string","title":"Campid"},"silenceTimer":{"type":"integer","title":"Silencetimer"},"wordsToInterrupt":{"type":"integer","title":"Wordstointerrupt"}},"type":"object","required":["campId","silenceTimer","wordsToInterrupt"],"title":"Body_set_campaign_silence_timer_and_words_to_interrupt_set_campaign_silence_timer_and_words_to_interrupt_post"},"Body_sign_up_sign_up_post":{"properties":{"userModelData":{"$ref":"#/components/schemas/usersModel"},"password":{"type":"string","title":"Password"}},"type":"object","required":["userModelData","password"],"title":"Body_sign_up_sign_up_post"},"Body_update_campaign_update_campaign_post":{"properties":{"campaignModelData":{"$ref":"#/components/schemas/campaignModel"},"campId":{"type":"string","title":"Campid"}},"type":"object","required":["campaignModelData","campId"],"title":"Body_update_campaign_update_campaign_post"},"Body_validate_api_key_validate_api_key_post":{"properties":{"apiKey":{"type":"string","title":"Apikey"}},"type":"object","required":["apiKey"],"title":"Body_validate_api_key_validate_api_key_post"},"CalInfo":{"properties":{"api_key":{"type":"string","title":"Api Key"},"eventId":{"type":"integer","title":"Eventid"},"timezone":{"type":"string","title":"Timezone","default":"Asia/Kolkata"}},"type":"object","required":["api_key","eventId"],"title":"CalInfo"},"Endpoint":{"properties":{"name":{"type":"string","title":"Name"},"path":{"type":"string","title":"Path"},"method":{"$ref":"#/components/schemas/endpointMethod"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"headers":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Headers"},"params":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Params"},"json_data":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Json Data"}},"type":"object","required":["name","path","method"],"title":"Endpoint"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"WebsiteInput":{"properties":{"url":{"type":"string","maxLength":2083,"minLength":1,"format":"uri","title":"Url"}},"type":"object","required":["url"],"title":"WebsiteInput"},"callDetaile":{"properties":{"name":{"type":"string","title":"Name"},"phoneNumber":{"type":"string","title":"Phonenumber"},"extraParams":{"type":"object","title":"Extraparams","default":{}}},"type":"object","required":["name","phoneNumber"],"title":"callDetaile"},"campaignModel":{"properties":{"title":{"type":"string","title":"Title"},"voice":{"type":"string","title":"Voice"},"language":{"type":"string","title":"Language"},"script":{"type":"string","title":"Script"},"purpose":{"type":"string","title":"Purpose"},"knowledgeBase":{"type":"string","title":"Knowledgebase"},"calendar":{"type":"string","title":"Calendar"},"firstLine":{"type":"string","title":"Firstline"},"flowName":{"type":"string","title":"Flowname","default":""},"systemPrompt":{"type":"string","title":"Systemprompt","default":""},"tone":{"type":"string","title":"Tone"},"maxCallTimeout":{"type":"integer","title":"Maxcalltimeout","default":1},"inactiveCallTimeout":{"type":"integer","title":"Inactivecalltimeout","default":15},"postCallAnalysis":{"type":"boolean","title":"Postcallanalysis","default":false},"postCallAnalysisSchema":{"type":"object","title":"Postcallanalysisschema"},"totalCallTime":{"type":"integer","title":"Totalcalltime"},"totalNumCall":{"type":"integer","title":"Totalnumcall"},"totalSpent":{"type":"number","title":"Totalspent"},"averageCallCost":{"type":"number","title":"Averagecallcost"},"timeZone":{"type":"string","title":"Timezone","default":"UTC"},"isFreeflow":{"type":"boolean","title":"Isfreeflow","default":true}},"type":"object","required":["title","voice","language","script","purpose","knowledgeBase","calendar","firstLine","tone","postCallAnalysisSchema","totalCallTime","totalNumCall","totalSpent","averageCallCost"],"title":"campaignModel"},"endpointMethod":{"type":"string","enum":["GET","POST","PUT","DELETE"],"title":"endpointMethod"},"erpnextModel":{"properties":{"erpUrl":{"type":"string","title":"Erpurl"},"apiKey":{"type":"string","title":"Apikey"},"secret":{"type":"string","title":"Secret"}},"type":"object","required":["erpUrl","apiKey","secret"],"title":"erpnextModel"},"makeBatchCallData":{"properties":{"name":{"type":"string","title":"Name"},"campID":{"type":"string","title":"Campid"},"scheduledTime":{"type":"string","format":"date-time","title":"Scheduledtime"},"timeSpan":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Timespan"},"callDetails":{"items":{"$ref":"#/components/schemas/callDetaile"},"type":"array","title":"Calldetails"}},"type":"object","required":["name","campID","scheduledTime","callDetails"],"title":"makeBatchCallData"},"makeCallData":{"properties":{"name":{"type":"string","title":"Name"},"phoneNumber":{"type":"string","title":"Phonenumber"},"campID":{"type":"string","title":"Campid"},"whisperAsr":{"type":"boolean","title":"Whisperasr","default":false},"startMessage":{"type":"boolean","title":"Startmessage","default":true},"clearMemory":{"type":"boolean","title":"Clearmemory","default":false},"extraParams":{"type":"object","title":"Extraparams","default":{}}},"type":"object","required":["name","phoneNumber","campID"],"title":"makeCallData"},"makeCallExternalData":{"properties":{"UserID":{"type":"string","title":"Userid"},"campID":{"type":"string","title":"Campid"},"name":{"type":"string","title":"Name"},"phoneNumber":{"type":"string","title":"Phonenumber"},"batchId":{"type":"string","title":"Batchid"},"title":{"type":"string","title":"Title"},"voice":{"type":"string","title":"Voice"},"language":{"type":"string","title":"Language"},"script":{"type":"string","title":"Script"},"purpose":{"type":"string","title":"Purpose"},"knowledgeBase":{"type":"string","title":"Knowledgebase"},"calendar":{"type":"string","title":"Calendar"},"firstLine":{"type":"string","title":"Firstline"},"flowName":{"type":"string","title":"Flowname"},"systemPrompt":{"type":"string","title":"Systemprompt"},"tone":{"type":"string","title":"Tone"},"silenceTimer":{"type":"integer","title":"Silencetimer"},"wordsToInterrupt":{"type":"integer","title":"Wordstointerrupt"},"maxCallTimeout":{"type":"integer","title":"Maxcalltimeout"},"inactiveCallTimeout":{"type":"integer","title":"Inactivecalltimeout"},"postCallAnalysis":{"type":"boolean","title":"Postcallanalysis"},"postCallAnalysisSchema":{"type":"object","title":"Postcallanalysisschema"},"twilioAccountSid":{"type":"string","title":"Twilioaccountsid"},"twilioAuthToken":{"type":"string","title":"Twilioauthtoken"},"twilioPhoneNumber":{"type":"string","title":"Twiliophonenumber"},"voiceProvider":{"type":"string","title":"Voiceprovider"}},"type":"object","required":["UserID","campID","name","phoneNumber","batchId","title","voice","language","script","purpose","knowledgeBase","calendar","firstLine","flowName","systemPrompt","tone","silenceTimer","wordsToInterrupt","maxCallTimeout","inactiveCallTimeout","postCallAnalysis","postCallAnalysisSchema","twilioAccountSid","twilioAuthToken","twilioPhoneNumber","voiceProvider"],"title":"makeCallExternalData"},"textPipelineConfigRQ":{"properties":{"messageDelay":{"type":"integer","title":"Messagedelay","default":10},"mexRetry":{"type":"integer","title":"Mexretry","default":5},"retryDelay":{"type":"integer","title":"Retrydelay","default":5},"postWebhook":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Postwebhook"},"postWebhookDelay":{"type":"integer","title":"Postwebhookdelay","default":86400},"goal":{"type":"string","title":"Goal"}},"type":"object","required":["goal"],"title":"textPipelineConfigRQ"},"twilioAccountModel":{"properties":{"twilioAccountSid":{"type":"string","title":"Twilioaccountsid"},"twilioAuthToken":{"type":"string","title":"Twilioauthtoken"},"twilioPhoneNumber":{"type":"string","title":"Twiliophonenumber"},"voiceProvider":{"$ref":"#/components/schemas/voiceProviderType","default":"TWILIO"}},"type":"object","required":["twilioAccountSid","twilioAuthToken","twilioPhoneNumber"],"title":"twilioAccountModel"},"usersModel":{"properties":{"userName":{"type":"string","title":"Username"},"email":{"type":"string","title":"Email"},"phoneNumber":{"type":"string","title":"Phonenumber"},"feedbackForm":{"type":"object","title":"Feedbackform","default":{}}},"type":"object","required":["userName","email","phoneNumber"],"title":"usersModel"},"voiceProviderType":{"type":"string","enum":["TWILIO","PLIVO"],"title":"voiceProviderType"},"whatsappModel":{"properties":{"token":{"type":"string","title":"Token"},"id":{"type":"string","title":"Id"}},"type":"object","required":["token","id"],"title":"whatsappModel"}},"securitySchemes":{"OAuth2PasswordBearer":{"type":"oauth2","flows":{"password":{"scopes":{},"tokenUrl":"login"}}}}}}